<div class="container_new_dose">
  <h1>Add a dose</h1>
  <%= simple_form_for ([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
  <div><%= f.button :submit, class: "btn-primary" %>
  <% end %>
<%= link_to 'Back to the cocktails...', cocktails_path, class: "btn btn-secondary" %></br>
  </div>
</div>
